body{
    background-color:rgba(251, 240, 212, 1);
}

.image-container {
    display: flex;
}
.image-container img {
    margin-right: 10px;
}


 

    .image-container {
        text-align: center; /* A szöveg középre igazítása */
    }
    .image-container img {
        
    }
        /* Egyéb kép stílusok (pl. méret, háttérszín) */
    

