body {
    background-color: #FBF0D4;
}
nav {
    background-color: #CE7777;
    padding: 8px;
}
nav a{
    color: white;
    margin: 15px;
    text-decoration: none;
    text-align: center;
}
nav a:first-child{
    font-size: 1.5em;
}
nav a:first-child img{
    width: 50px;
    display: inline-block;
}



.footer{
    background-color: #CE7777;
    color: #fff;
}
footer li{
    list-style-type: none;
}
#lablecszoveg{
    text-align: justify;
  text-justify: inter-word;
}
.asd{
    
    padding: 200cm;
}