body {
    background-color: #FBF0D4;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.footer{
    background-color: #CE7777;
    color: black;
    text-align: center;
    font-size: 100%;
}
#cim{
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    text-decoration: underline;
}
#motto{
    text-align: center;
    font-size: 30px;
}
#elokep{
    width: 100%;
}
#legutobbi{
    text-align: center;
    font-style: italic;   
}
#legutobbicim{
    text-align: center;
    font-size: large;
}
#sefajanlata{
    margin-left: 100%;
}
#sefacim{
    font-size: large;
}
#sefakep{
    width: 100%;
    border-radius: 3%;
}
#rolunk{
    
}
#rolunkcim{
    font-size: large;
}
#rolunkszoveg{
    text-align: left;
    font-style: italic;
    text-align: justify;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FBF0D4;
    padding: 10px;
}
.grid-item {
    background-color: #FBF0D4;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 900px){
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        background-color: #FBF0D4;
        padding: 10px;
    }
}
@media screen and (max-width: 745px){
    #cim{ 
        font-size: 40px;
    }
}