body {
    background-color: #FBF0D4;
}
nav {
    background-color: #CE7777;
    padding: 8px;
}
nav a{
    margin: 15px;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.footer{
    background-color: #CE7777;
    color: black;
    text-align: center;
}
#cim{
    text-align: center;
    font-size: 30px;
}
#elokep{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#legutobbi{
    text-align: center;
    font-style: italic;   
}
#legutobbicim{
    text-align: center;
    font-size: large;
}
#sefajanlata{
    margin-left: 100%;
}
#sefacim{
    font-size: large;
}
#sefakep{
    width: 130%;
}
#rolunk{
    
}
#rolunkcim{
    font-size: large;
}
#rolunkszoveg{
    text-align: left;
    font-style: italic;
}