nav {
    background-color: #CE7777;
    padding: 8px;
}
nav a{
    color: black;
    margin: 15px;
    text-decoration: none;
    text-align: center;
}
nav a:first-child{
    font-size: 1.5em;
}
nav a:first-child img{
    width: 50px;
    display: inline-block;
}



.footer{
    background-color: #CE7777;
    color: black;
}
footer li{
    list-style-type: none;
}
.labszov{
    text-align: justify;
    text-align: center;
    text-justify: inter-word;
}
body{
    background-color: #FBF0D4;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFF8E5;
}

table, tr, td{
    text-align: left;
    background-color: #FBF0D4;
    border:  #FBF0D4;
}
tr, td{
    
    vertical-align: text-top;


}

ul{
    text-align: center;
}

li{
    text-align: left;
}

div{

    padding-left: 1px;
    padding-right: 1px;
}

#cimek{
    text-align: center;
    vertical-align: middle;
    padding-right: 1cm;
}

#beszall{
    text-align: justify;
}

#infok{
    vertical-align: middle;
    padding-left: 1cm;
    background-color: #FFF8E5;
    border: 20px solid #FFF8E5;
    
}